{{#section 'head'}}
    <title>FakeOil</title>
    <link href="style/index.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            crossorigin=""
    />
{{/section}}


	<div>
        <div class="header">
            <div class="logo"><h1>Patras Oil</h1></div>
            <div class="register">
                <button onclick="window.location.href = 'login'">{{#if username}}View account{{else}}Login/Register{{/if}}</button>
            </div>           
        </div>
        <div class="main-content">
          <div class="left-sidebar"></div>
          <div class="right-content">
            <div class="top-right">
                <div class="top-right-left">
                    <div id="map"></div>
                </div>
                <div class ="top-right-right">
                        {{#with prices}}
                        <table>
                            <caption><h3>Price Table</h3></caption>
                            <tr>
                              <th>Gas Type</th>
                              <th>Price</th>
                            </tr>
                            <tr>
                              <td>N95</td>
                              <td>{{n95}}</td>
                            </tr>
                            <tr>
                              <td>Diesel</td>
                              <td>{{diesel}}</td>
                            </tr>
                          </table>
                        {{/with}}
                </div>
            </div>
            <div class="bottom-right">
              <div class="bottom-right-left">
                <button id="btn-find-nearest-gs">Go to my nearest station!</button>
              </div>
              <div class="bottom-right-right">
                {{#if username}}
                  <h1 class="banner">Hello, {{username}}!</h1>
                  {{#if user_points}}
                  <p id="us_points">You have {{user_points}} points</p>
                  {{/if}}
                {{else}}
                  <h2 class="banner"> Join our Premium Program!<br> Register Now!</h2>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>

    <data id="map-data" value="{{map_data}}"></data>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="script/map.js"></script>
    <script src="script/index.js"></script>