<h1>List of stations</h1>
<p>Click for details</p>
<div class="station-list-container">
    <table id="station-table" class="station-table">
        <tr>
            <th>Open</th>
            <th>Name</th>
            <th>Region</th>
            <th>N95</th>
            <th>Diesel</th>
            <th>Opening hours</th>
        </tr>
        {{#each stations}}
            <tr class="item-station">
                <td><a href="station?station={{name}}">{{{open}}}</a></td>
                <td><a href="station?station={{name}}">{{name}}</a></td>
                <td><a href="station?station={{name}}">{{region}}</a></td>
                <td><a href="station?station={{name}}">{{prices.n95}}</a></td>
                <td><a href="station?station={{name}}">{{prices.diesel}}</a></td>
                <td><a href="station?station={{name}}">{{opening_hours}}</a></td>
            </tr>
        {{/each}}
    </table>
</div>
